@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-family: "Orbitron", sans-serif;
}

* {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #69686a; /* Color of the scroll handle */
  border-radius: 6px; /* Rounded corners */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when you hover over scrollbar */
}
